name: Test and build

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.6"

      - run: go get ./cmd

      - name: run unit tests
        run: go test ./... -json > report.json

      - name: rests report
        uses: becheran/go-testreport@main
        with:
          input: report.json
